body {
    background-color: #fff;
}

.HeaderText{
    margin-top: 3em;
}

.Title {
    color: black;
    font-size: 2.5em;
    text-align: center;
    margin: 1em 0;
}

p {
    color: black;
    font-size: 1.5em;
    text-align: center;
}

.card-image {
    height: 10em;
}

.buttonCard{
    text-align: center;
}
.cards {
    margin-top: 5em;
    display: flex;
    justify-content: space-evenly;
}


.card {
    margin: 0em 1em;
}

.cardtitle{
    text-align: center;
}
.card-image{
    width: 100%;
}

.createEmp-form {
    margin: 0;
    width: 25em;
    position: relative;
}

