body {
    justify-content:center;
}
h3{
    padding-top:0;
}

.profile-img-holder, .profile-info, .work-info {
    justify-content: center;
    border-bottom: 1px solid #4EA2E8;
    padding-top: 1em;
}

.img-profile {
    max-width: 40%;
    margin: 0;
    border-radius: 5px;
    padding-bottom: 2em;
}
ul {
    list-style-type: none;
}

.profile {
    padding: 5em;
    justify-content: center;
    box-shadow: 0 .25rem 1.25rem rgba(0, 0, 0, .05);
    border-radius: 5px;
}