body {
    background-color: #FFF;
}

.btn {
    margin: .3em .3em;
}


.img-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.sumbitBtn{
    text-align: center;
}

.assBtn {
    width: 20em;
    margin: 1.5em 0 0 0;
}


.Assignment-form {
    margin: 0;
    width: 25em;
    position: relative;
}

